<div id="fb-root"></div>
<script>(function(d, s, id) {
 	var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=272455316105552";
	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-like-box"
     data-href="https://www.facebook.com/pages/Qu&#xe9;-Sab&#xe9;s/127727360700703"
     data-width="260" data-height="240" data-show-faces="true"
     data-stream="false" data-header="false"></div>

<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fquesabes&amp;send=false&amp;layout=button_count&amp;width=118&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:118px; height:21px;" allowTransparency="true"></iframe>
