/* @override http://www.quesabes.org/quesabes-theme/stylesheets/custom.css?1344215510 */

@import url(./fonts.css);

/** LAYOUT **/
body {
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 12px;
    line-height: 1.5;
}
    body.front {
        background: none;
    }

#content {
    width: 840px;
    padding: 0px 60px;
    margin: auto;
}

#wrapper {
    padding-top: 10px;
    margin-bottom: 50px;
    width: 960px;
}

#wrapper_modal {
    text-align: left;
}

#header_right {
    width: 180px;
    float: left;
    margin-top: 30px;
}
    .feed_link a, 
    .act_link a, 
    #header_right > a {
        color: #004590;
        font-size: 12px;
        text-decoration: none;
    }
    #header_right a:hover {
        text-decoration: underline; 
    }

#header_left,
.header_left {
    width: 600px;
    float: right;
    padding: 20px 30px;
}

#everypage {
    background-color: #666;
    opacity: 0.95;
    border-color: #FFF;
    border-radius: 0;
    border-left: none;
    border-rigth: none;
    left: 0;
    width: 99%;
    padding-right: 1%;
    color: #EEE;
    font-weight: bold;
}


/** HEADER **/ 
#banner {
    background: transparent;
    border: none;
    height: 160px;
    position: relative;
}
#banner_back{
    height: 80px;
    position:relative;
    top: 25%;
    background: #CCCCCC;
}
#banner_inner {
    width: 960px;
    height: 108px;
    top: -14px;
}
    #banner_inner a:hover {
        text-decoration: underline; 
    }

#logo {
    float: left;
}

#navigation_search {
    top: 50px;
    visibility: hidden;
}

div.lang {
    top: 23px;
    color: #004590;
    font-size: 12px;
    text-transform: capitalize;
}
    div.lang a {
        color: #b0b0b0;
        text-decoration: none;
    }

/** NAVIGATION MENU **/ 
.menu_nav {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    font-size: 12px;
    font-weight: bold;
    float: left;
    position: relative;
    top: 50%;
}
    .menu_nav ul {
        display: inline;
	padding: 0px;
	float: left;
	margin-top: -6px;
}
    .menu_nav ul li {
	display: inline;
        padding: 6px 8px 5px;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .menu_nav ul li a {
        color: #004590;
    }
#top_nav {
    margin-left: 0px;
    margin-right: 15px;
}
#usernav {
    margin-left: 15px;
    margin-right: 0px;
}

/** MAIN SITE **/
h1, h1 a {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    color: #414141;
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
    text-decoration: none;
}

h2, h2 a {
    color: #004590;
	font: 18px RamblaOscura;
}

h3, h3 a {
    font-family: Verdana, 'Helvetica Neue', Arial;
    color: #414141;   
    font-size: 14px;
    font-weight: bold;
}


/** HELP **/
#left_column_flip {
    margin-top: 10px;
    padding-left: 30px;
    margin-right: 30px;
    width: 600px;
}
    #left_column_flip li {
        padding-bottom: 8px;
    }

#right_column_flip {
    text-align: left;
    width: 180px;
    margin-top: 32px;
}
    #right_column_flip h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #right_column_flip ul {
        margin-top: 0px;
        margin-bottom: 5px;
        padding-left: 0px;
        list-style: none outside none;
    }

.controller_help {
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}
    .controller_help ul {
        margin-left: 10px;
    }
    .controller_help h3 {
        color: #004590;
        text-decoration: none;
        margin-top: 20px !important;
        font-weight: normal;
    }
    .controller_help #right_column_flip a {
        color: #444444;
        text-decoration: none;
        font-weight: normal;
    }
    .controller_help #right_column_flip a:hover {
        color: #444444;
        text-decoration: underline;
    }

.XXX {  /* TODO stuff */
    color: red;
    font-weight: bold;
    background-color: yellow;
}

.name-column {
    float: left;
    width: 170px;
    margin-left: 20px;
}

/** FRONTPAGE **/

.front #wrapper, .front #content {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#frontpage-intro {
    width: 960px;
    margin: auto;
    position: relative;
}

#frontpage-intro-lead {
    width: 616px;
    height: 280px;

    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    line-height: 1.1;
    
    background-color: #ECECEC;
    background: url("/quesabes-theme/images/frontpage-lead-background.png") no-repeat scroll 0 0 transparent;
    float: left;
    margin: 50px 12px 30px 12px;
    padding: 20px 0px 20px 0px;
}
    .frontpage-lead-cell {
        float: left;
        width: 114px;
        height: 130px;
        padding-left: 30px;
        padding-right: 10px;
    }
    .frontpage-lead-cell {
	color: white;
}
    .first-cell {
	margin-top: 25px;	
}
    .frontpage-lead-cell.short {
        height: 60px;
        margin-top: -30px;
    }
    #frontpage-intro-lead h2 {
        color: white;
        font-size: 22px;
        font-weight: 600;
        margin-top: 35px;
	margin-left: -10px;
}
    .frontpage-lead-enum {
        color: white;
        margin-top: 33px;
	margin-left: 48px;
	font: 500 50px Rambla;
}
    .frontpage-lead-text {
        color: white;
	font: 18px RamblaLibroLibro;
	margin-left: 10px;
}
    .frontpage-lead-text a {
        color: white;
	float: left;
	margin-top: 9px;
	margin-left: -20px;
	font: 16px RamblaLibroLibro;
}
	.frontpage-lead-text a:hover {
		color: #3399CC;
}
    #frontpage-lead-button a {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 700;
    }

    #frontpage-lead-button {
        margin-left: -10px;
        padding: 7px 10px 7px 10px;
        
        background-color: #E84E00;
        border-radius: 5px;
        border-bottom: 2px solid #C6C6C5;
    }

#frontpage-intro-sidebar {
    width: 260px;
    float: left;
    
    margin: 50px 12px 30px 12px;
    padding: 0px 18px;
}

#frontpage-share-buttons {
    float: left;
    margin: 15px 12px 0px 12px;
}
    #frontpage-share-buttons iframe {
        float: left;
    }
    #frontpage-share-buttons span {
        float: left;
    }

#frontpage-lead-ad {
    background-color: #E84E00;
    float: left;
    border-radius: 5px;
    padding: 0px 12px 0px 12px;
    margin-bottom: 10px;
    
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    color: #ECECEC;
    text-align: center;
    line-height: 1.1;
}
    #frontpage-lead-ad h4 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    #frontpage-lead-ad a {
        color: #ECECEC;
        text-decoration: underline !important;
        font-weight: bold;
    }

#frontpage-content {
    background-color: transparent;
}

#frontpage-inner-content {
    width: 960px;
    margin: auto;
    position: relative;
    padding-bottom: 20px;
}

#frontpage-search-rss {
    background-color: #D8D8D8,
    width: 960px;
    margin: auto;
    position: relative;
}
#frontpage-search-box {
    background-color: #004590;
    float: left;
    padding: 22px 18px 18px 18px;
    margin: 25px 45px 25px 20px;
}
    #frontpage-search-box h4 {
      color: white;
      
      float: left;
      margin: 5px 4px 0px 0px;
      vertical-align: middle;
	font: 800 20px/1.1 RamblaOscura;
}
    
#frontpage-search-form {
    float: left;
}
    #frontpage-search-form #search_form {
        margin: 0 0 0 0;
    }
  
    #frontpage-search-form #query {
        height: 20px;
        width: 300px;
        font-size: 12px;
	border-radius: 0px;
	border: none;
	vertical-align: top;
    }
    
    #frontpage-search-form input[type="submit"] {
        background: url("/quesabes-theme/images/search_button.png");
        height: 30px;
        width: 30px;
        font-size: 0px;
	border-radius: 0px;
    }

#rss_subscribe {
    float:left;
    margin: 25px 0px 25px 20px;
}
#frontpage-updates h2 {
    color: #004590;
    
    padding-bottom: 12px;
	font: 700 22px RamblaOscura;
}

#frontpage-updates-news,
#frontpage-updates-requests {
    background-color: #FFFFFF;
    float: left;
}
#frontpage-updates-requests {
    margin: 20px;
}
#frontpage-updates-news {
    width: 575px;
    margin: 10px 45px 20px 20px;
}
.frontpage-blog-post {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    width: 278px;
    line-height: 1.1;
}
    #frontpage-updates-news .left {
        padding-right: 12px;
        float: left;
	width: 275px;
    }
    #frontpage-updates-news .right {
        padding-left: 12px;
        float: right;
	width: 275px;
    }
    .frontpage-blog-post h4 {
        font-weight: 700;
        font-size: 16px;
        color: #3C3C3B;
        margin: 12px 0px;
    }
    .frontpage-blog-post p {
        font-weight: 600;
        font-size: 12px;
        color: #6F6F6E;
    }

#more-news {
    color: #004590;
    font: 700 15px RamblaOscura;
    float: left;
    width: 575px;
    border-top: 1px solid #D9D9D9;
    margin: 20px 45px 0px 0px;
    padding-top: 15px;
}
#frontpage-updates-requests {
    width: 260px;
    line-height: 1.1;
}
.tracking-links-frontpage {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    margin: 0px 12px;
    
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 12px;
}
    .tracking-links-frontpage h4 {
        font-weight: 700;
        font-size: 14px;
    }
    .tracking-links-frontpage.last {
        border-bottom: 0px;
    }

.request-tracker-frontpage {
    padding: 0px 12px 8px 12px;
    border: 2px solid #ECECEC;
    border-radius: 5px;
    margin-top: -10px;
}
    .request-tracker-frontpage .counter {
      float: left;
      width: 100px;
      font-weight: 700;
      font-size: 60px;
      color: #3C3C3B;
      text-align: right;
    }
    .request-tracker-frontpage .counter-label {
      float: left;
      width: 78px;
      font-weight: 600;
      font-size: 12px;
      color: #6F6F6E;
      line-height: 1.5;
      padding-top: 6px;
      padding-left: 6px;
    }
    .request-tracker-frontpage .track-button {
      float: left;
      font-weight: 700;
      font-size: 13px;
      color: #FFFFFF;
      background-color: #E84E00;
      padding: 8px 16px;
      border-radius: 5px;
      margin-left: 18px;
    }
    .request-tracker-frontpage .track-button a {
        color: #FFFFFF;
    }

    .request-tracker-sidebar .counter {
      float: left;
      width: 100px;
      font-weight: 700;
      font-size: 60px;
      color: #3C3C3B;
      text-align: right;
    }
    .request-tracker-sidebar .counter-label {
      float: left;
      width: 78px;
      font-weight: 600;
      font-size: 12px;
      color: #6F6F6E;
      line-height: 1.5;
      padding-top: 6px;
      padding-left: 6px;
    }
    .request-tracker-sidebar .track-button {
      float: left;
      font-weight: 700;
      font-size: 13px;
      color: #FFFFFF;
      background-color: #E84E00;
      padding: 8px 16px;
      border-radius: 5px;
      margin-left: 0px;
    }
    .request-tracker-sidebar .track-button a {
        color: #FFFFFF;
    }

.feed_form_frontpage p,
.feed_form_sidebar p {
    line-height: 1.5;
}

.request-tracker-frontpage form.feed_form input[type="submit"],
.request-tracker-sidebar form.feed_form input[type="submit"] {
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 1px 4px;
}


/** GENERAL **/
.request_listing span.head a, 
.user_listing span.head a, 
.body_listing span.head a {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    font-size: 16px;
    color: #004590;
}

a,
.request_listing a, 
.body_listing a, 
.user_listing a {
    color: #004590;
    text-decoration: none !important;
}
    a:hover,
    .request_listing a:hover, 
    .body_listing a:hover, 
    .user_listing a:hover {
        color: #004590;
        text-decoration: underline !important;
    }

#header_left p,
#header_left ul,
#header_left ol {
    padding-right: 120px;
}

.request_left {
    width: 600px;
}

.request_right {
    width: 240px;
}

form input[type="submit"], a.link_button_green, a.link_button_green_large {
    font-family: 'Open Sans', 'Helvetica Neue', Arial;
    font-weight: 600;
    background: url("/quesabes-theme/images/button-gradient.png") repeat scroll 0 0 transparent;
}

form input[type="submit"] {
    padding: 0 11px;
}


/** SIGNUP **/
#sign_together .form_button {
    margin-left: 110px;
}

#signup .form_item_note, 
#signup .form_checkbox, 
#signin .form_note,
#signin .form_checkbox {
    font-size: 0.9em;
    margin-left: 110px;
    width: 270px;
}

#sign_together input[type="text"],
#sign_together input[type="password"] {
    width: 240px;
}

#middle_strip {
    display: none;
}

#signin-successful {
    text-align: center;
}

#change_password p, #change_password div {
    clear: both;
}

/** PUBLIC BODIES LISTING **/
#public_body_index #left_column_flip h2,
#public_body_index #left_column_flip p {
    display: none;
}

#public_body_query {
    width: 360px;
}

/** REQUEST **/
p.subtitle {
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 15px;
    color: #444444; /* XXX */
}

p.public-body-name-prefix {
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: -20px;
    color: #444444; /* XXX */
}

#stepwise_make_request {
    background: none;
    width: 480px;
    margin-bottom: 10px;

    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 16px;
    color: #444444; /* XXX */
}
    #stepwise_make_request strong {
        color: #004590;
    }

h2.foi_results {
    width: 480px;
    padding-bottom: 0px;
}

#foi_results_section,
.results_section {
    float: right;
    padding-left: 0px;
    padding-right: 150px;
    width: 480px;
}

.request_listing {
    margin-right: -210px;
}
    .request_left {
        width: 480px;
    }
    .request_right {
        width: 210px;
    }
    .request_listing span.desc {
        background: none;
    }

span.desc {
    float: left;
}

.date_added {
    display: none;
}

#request_header {
    background: none;
    width: 630px;
}
    #request_header_body h3,
    #request_header_body .form_item_note {
        display: none;
    }
    #request_header_body #request_header_text {
        font-size: 1em;
    }

.form_item_note {
    width: 510px;
}

#request_search_ahead_results {
    font-size: 1em;
    margin-left: 110px;
    margin-top: 10px;
}

#request_header input,
#request_form textarea {
    width: 500px;
}

#request_advice {
    margin-right: -30px;
}

#public_body_actions {
    display: none;
}

div.correspondence {
    width: 540px;
    background: none repeat scroll 0 0 #ECECEC;
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 12px !important;
}

div.comment_in_request {
    width: 490px;
    font-size: 12px !important;
    background: #FBFBFB;
}

div.outgoing.correspondence {
    background: none repeat scroll 0 0 #F4F5F6;
    font-size: 12px !important;
}

div[id|="outgoing"] p,
div[id|="incoming"] p {
    font-size: 1em;
}

#link_box {
    border: 1px solid #777;
    opacity: 1;
}

#link_box .close-button {
    background-color: #777;
}


/** REQUEST FILTER **/
#filter_requests_form {
    width: 660px;       /* Need some extra space for types of requests */
    margin-top: 15px;
}

#request_form label, 
label.form_label {
    color: #004590;
    font-family: Verdana, 'Helvetica Neue', Arial;
    font-size: 14px;
    font-weight: bold;
}


/** REQUEST STATES 
TODO: Need to add states for
 - icon_info_not_held_and_referred
 - icon_partial_access
 - icon_referred
 - icon_request_acknowledged
 - icon_transferred
 - icon_unsatisfactory_response
**/
.icon_waiting_response {
    background-image: url("/quesabes-theme/images/states/icon_waiting_response.gif");
    color: #009A9D;
}
.icon_waiting_clarification {
    background-image: url("/quesabes-theme/images/states/icon_waiting_clarification.gif");
    color: #79BB59;
}
.icon_gone_postal {
    background-image: url("/quesabes-theme/images/states/icon_gone_postal.gif");
    color: #009A9D;
}
.icon_not_held {
    background-image: url("/quesabes-theme/images/states/icon_info_not_held.gif");
    color: #F19100;
}
.icon_rejected {
    background-image: url("/quesabes-theme/images/states/icon_info_refused.gif");
    color: #E10613;
}
.icon_successful {
    background-image: url("/quesabes-theme/images/states/icon_successful.gif");
    color: #79BB59;
}
.icon_partially_successful {
    background-image: url("/quesabes-theme/images/states/icon_partially_successful.gif");
    color: #F19100;
}
.icon_internal_review {
    background-image: url("/quesabes-theme/images/states/icon_review_requested.gif");
    color: #009A9D;
}
.icon_error_message {
    background-image: url("/quesabes-theme/images/states/icon_error_message.gif");
    color: #858585;
}
.icon_requires_admin {
    background-image: url("/quesabes-theme/images/states/icon_requires_admin.gif");
    color: #858585;
}
.icon_user_withdrawn {
    background-image: url("/quesabes-theme/images/states/icon_user_withdrawn.gif");
    color: #E10613;
}
/* TODO: Missing from designer
.icon_waiting_classification {
.icon_waiting_response_overdue {
.icon_waiting_response_very_overdue {
*/


/** MODAL SIGN-IN **/
#signin-successful,
#signin-successful a {
    font-family: 'Helvetica Neue', Arial;
    color: #004590;   
    font-size: 14px;
    font-weight: bold;
    padding-top: 50px;
} 

#sign_together h1 {
    margin-top: 10px;
}

#sign_together .errorExplanation {
    width: 360px;
    text-align: left;
}


/** USER PROFILE **/
#user_photo_on_profile {
    float: right;
    margin-top: 30px;
}

.undescribed_requests {
    padding: 19px 29px;
    width: 780px;
}

#user_profile_search {
    float: right;
    padding-left: 0px;
    padding-right: 150px;
    width: 480px;
}


/** FOOTER **/
#footer {
    height: 240px;
    margin: 0px;
    background-color: transparent;
    padding-top: 10px;
}
#footer-sub {
    background-color: #D8D8D8;
    position:relative;
}
#footer-sub-inner,
#footer-inner {
    width: 960px;
    margin: auto;
    position: relative;
	text-align: left;
}
#footer-sub-inner {
    padding-left: 40px;
}
.footer-column {
    width: 290px;
    float: left;
    padding-left: 20px;
    text-align: left;
}
    .footer-column.wide {
        width: 450px;
    }
    .footer-column h4 {
        margin-bottom: 0px;
        color: #444;
	font: 15px RamblaOscura;
}
    .footer-column h4.shy {
        color: #555;
        font-weight: 200;
    }
    .footer-column p, .footer-column ul {
        font-family: Verdana, 'Helvetica Neue', Arial;
        padding-left: 0px;
        font-size: 12px;
        color: #555;
        list-style: none;
    }
    .footer-column a {
        color: #555;
        text-decoration: none;
    }

.footer-logo img {
    display: block-inline;
    margin: 5px 10px 5px 0px;
}


/** HELP OUT RIBBON (thanks http://unindented.org/articles/2009/10/github-ribbon-using-css-transforms/ )*/
.ribbon {
  background-color: #004590;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  left: -4em;
  top: 4em;
  z-index: 100;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 100% 'Open Sans', 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}
