<div style="font-weight: bold">   <!-- volunteers + -->
    <p class="name-column">
        Fabrizio<br/>
        Gabriela<br/>
        Samus<br/>
        etc... colocar todos<br/>
    </p>
    <p class="name-column">
    </p>
    <p class="name-column">
    </p>
</div>

<div>
    <p class="name-column">
    </p>
    <p class="name-column">
    </p>
    <p class="name-column">
    </p>
</div>
<div style="clear:both"></div>
