<% @title = "Contactanos" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Contactanos</h1>
    <p>Nos encantaría hablar contigo. Por favor usa una de estos métodos para comunicarte con nosotros: </p>

    <h2 id="email">Correo electrónico (email)</h2>
    <p>Escribe al equipo de quesabes.org en: <a href="mailto:contacto@quesabes.org">contacto@quesabes.org</a></p>
    <p>Puedes escribirnos en ingles, francés, portugués o español. Intentamos responder a los mensajes en 24-48 horas.</p>

    <h2 id="twitter">Twitter</h2>
    <p>
        Síguenos en Twitter: <span style="vertical-align:-25%">
        <a href="https://twitter.com/uyquesabes" class="twitter-follow-button" data-show-count="false">Sígue a @uyquesabes</a>
        <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
        </span>
    </p>

</div>
