<% @title = "Agraïments" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Agraïments</h1>
    <p>
        No podríem haver fet aquesta web sense el suport de molta gent. Gràcies:
        <ul>
            <li>A l’equip d’<a href="http://www.access-info.org/">Access Info Europe</a>: Helen Darbishire, Pam Bartlett, Lydia Medland, Victoria Anderica, Alicia Costas, Darío Sánchez, Álvaro Rodríguez, Andreas Pavlou, Anne Vandelle i Beth Hillier.</li>
            
            <li>A l’equip de la <a href="http://www.civio.es">Fundació Ciutadana Civio</a>: David Cabo, Mar Cabra, Jacobo Elosua, Eva Belmonte, Helena Viladàs i Javier de la Vega.</li>
            
            <li>A totes les persones voluntàries que han fet possible aquesta pàgina. Gràcies per les traduccions, els contactes i sobretot per l’interès mostrat i el recolzament constant. Gràcies Roberto, Conchita, Marc, Miguel, Iñaki y Vanessa, Félix, Mercé, Jordi, Esther, Inma, Alberto, Juan, Iván, Mario... </li>
            
            <li>A Olga pel <a href="https://vimeo.com/25811353">vídeo que gravàrem a Sol</a>, i a tota la gent que va passar pel grup de Ley de Transparencia Ya per difondre-lo.</li>

            <li>A Diego Berjón pels dissenys i la paciència.</li>
            
            <li>A Rafa per editar el vídeo de tuderechoasaber.es, i a Guy per la narració.</li>

            <li>A <a href="http://www.goteo.org">Goteo</a> per creure en aquest projecte des de l’inici.</li>
            
            <li>A <%= link_to "patrocinadors i entitats col·laboradores", help_about_path(:anchor => 'supporters') %> per creure i fer possible que iniciatives com aquestes es facin realitat.</li>
            
            <li>A <a href="http://www.utopicus.es/">Utopic_us</a> per deixar-nos l'espai per a la presentació.</li>
            
            <li>A <a href="http://www.iurismatica.com/">Jorge Campanillas i Iurismática</a> per l'assessorament legal.</li>            
        </ul>
        Y a tots <a href="http://www.goteo.org/project/tuderechoasaber.es">els donats de Goteo</a>:
        <%= render :partial => 'help/goteo_donors' %>
        <p>(si falta el teu nom, o si vols canviar-lo per qualsevol motiu, per favor, posa’t en contacte amb nosaltres.)</p>
    </p>
</div>