<% @title = "Prensa" %>

<div id="left_column_flip">

    <h2>Prensa</h2>
    <p>Noticias sobre quesabes.org, así como imágenes, logos y otros materiales útiles para los medios de comunicación.</p>

    <h3>Notas de prensa</h3>
    <ul>

      <li><a href="">Contáctanos</a> si has publicado una nota en prensa en papel sobre quesabes.org.</li>
    </ul>

    <h3>quesabes.org en los medios</h3>
    <ul>
      <li>Contáctanos si has publicado un articulo en internet.</li>
    </ul>

    <h3>Imágenes</h3>
    <ul>
      <li><a href="/quesabes-theme/images/press/logo_quesabes.png">Logotipo quesabes.org</a></li>
      <li><a href="/quesabes-theme/images/press/logo_data.jpg">Logotipo DATA</a></li>
    </ul>

    <h3>Contactos de prensa</h3>
    <blockquote>
      <p><a href="http://www.datauy.org">DATA</a>: Fabrizio Scrollini. prensa@quesabes.org</p>
    </blockquote>
</div>
