<% @title = "Preguntas frecuentes" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Preguntas frecuentes</h1>

    <h2 id="1">¿Tengo derecho a hacer un pedido de información?</h2>
    <p>Claro que sí. De acuerdo al artículo 3 de la <a href="http://www.impo.com.uy/informacionpublica">Ley 18.381</a>, cualquier persona uruguaya o extranjera, tiene derecho a pedir información en manos del Estado. Asimismo, el solicitante no necesita justificar las razones por las cuales solicita la información, o especificar su ocupación.</p>

    <h2 id="missing_body">¿A quién puedo hacer un pedido?</h2>
    <p>A todos los organismos públicos, sean o no estatales, de la administración pública uruguaya (que incluye los 3 poderes del Estado: Ejecutivo, Legislativo y Judicial) así como organismos paraestatales (Cajas de Jubilaciones, Personas públicas no estatales), Tribunal de Cuentas, Corte Electoral y Tribunal de lo Contencioso Administrativo. Puede ocurrir que ¿Qué Sabés? no tenga algunos contactos o nos falte alguna institución. En este caso, por favor, avísanos e intentaremos encontrarla lo antes posible. <%= link_to 'Click aquí para ver la lista completa de instituciones', list_public_bodies_default_path %></p>

    <h2 id="3">¿Qué información puedo pedir?</h2>
    <p>Cualquier información -sin importar su formato- que esté en manos de los organismos públicos puede ser pedida, con la excepción de los límites expresados en la ley.</p>

    <h2 id="4">¿Me pueden negar información?</h2>
    <p>Si, en algunos casos. Para negarte la información la autoridad competente debe darte una razón fundada (o sea una explicación que te indique la razón por la cuál se te niega la información y en base a que norma jurídica) . La autoridad competente puede negarte la información básicamente por tres motivos: la misma no existe o no está dentro de sus competencias producirla, la información es reservada, o la información es confidencial</p>
    <p>El artículo 14 de la ley establece que los organismos no están obligados a producir información que no tienen o que se encuentra fuera de los deberes del organismo hacerlo. Como contrapartida se espera que si la producción de la información requerida estuviera dentro de su competencia, y no la hubieran producido, deberían hacerlo.</p>
    <p>La clasificación de la información reservada debe realizarse en el momento que se genere, obtenga o modifique, mediante resolución debidamente fundada y motivada, demostrando la existencia de elementos objetivos que determinen que la divulgación genera un riesgo de daño al interés público, de acuerdo con las excepciones referidas en el artículo 9 de la Ley 18.381.</p>
    <p>Excepcionalmente, la información puede clasificarse como reservada en el momento en que se reciba una solicitud de acceso a la misma. En este caso, la resolución deberá remitirse en el plazo de cinco días hábiles a la Unidad de Acceso a la Información Pública, la que solicitará al sujeto obligado su desclasificación si la misma no se ajustase a lo dispuesto.</p>
    <p>Únicamente podrá clasificarse como reservada la información cuya difusión pueda:</p>
    <ol type="A">
      <li>Comprometer la seguridad pública o la defensa nacional.</li>
      <li>Menoscabar la conducción de las negociaciones o bien, de las relaciones internacionales, incluida aquella información que otros estados u organismos internacionales entreguen con carácter de reservado al Estado uruguayo.</li>
      <li>Dañar la estabilidad financiera, económica o monetaria del país.</li>
      <li>Poner en riesgo la vida, la dignidad humana, la seguridad o la salud de cualquier persona.</li>
      <li>Suponer una pérdida de ventajas competitivas para el sujeto obligado o pueda dañar su proceso de producción.</li>
      <li>Desproteger descubrimientos científicos, tecnológicos o culturales desarrollados o en poder de los sujetos obligados.</li>
      <li>Afectar la provisión libre y franca de asesoramientos, opiniones o recomendaciones que formen parte del proceso deliberativo de los sujetos obligados hasta que sea adoptada la decisión respectiva, la cual deberá estar documentada.</li>
    </ol>
    <p>La ley establece también la categoría de información confidencial cuando se refiere al patrimonio de una persona física o jurídica o se encuentra cubierta por una cláusula de confidencialidad.</p>
    <p>Es importante señalar que no basta con que el organismo respectivo debe explicar de forma clara como llegó a la conclusión de que información tiene carácter reservado o confidencial.</p>

    <h2 id="5">¿Qué puedo hacer si me niegan información o no recibo respuesta?</h2>
    <p>El sistema te va a notificar si los plazos se vencen y en ese caso o si el solicitante no está de acuerdo con los motivos que se aducen para una denegatoria, tiene dos opciones; acudir a la <a href="http://www.uaip.gub.uy/">Unidad de Acceso a la Información Pública</a> y/o entablar una acción judicial que se realiza frente a los Juzgados Letrados de Primera Instancia en lo Contencioso Administrativo (si se tratase de organismos públicos estatales), a los Juzgados Letrados de Primera Instancia en lo Civil (si se tratase de un organismo no estatal en la Capital) o los Juzgados de Primera Instancia a los que se haya asignado competencia en la materia, si se encontrase en el Interior del país.</p>

    <h2 id="quickly_response">¿Cuánto tarda y qué debo esperar de la respuesta?</h2>
    <p>La respuesta tiene un plazo máximo de 20 días hábiles y el organismo puede pedir una prórroga de otros 20 días hábiles, sólo por una razón fundada (razones excepcionales). Cumplido el plazo, el organismo deberá entregar la información al solicitante, o una respuesta especificando los motivos por los cuales se niega el acceso y deberá estar firmada por la autoridad máxima del organismo que niega el acceso. Si el plazo se ha cumplido y el organismo no ha emitido una respuesta al respecto, el solicitante podrá acceder a la información, considerándose que el organismo se encuentra en falta si no hace entrega de dicha información. Esto se conoce como "silencio positivo".</p>

    <h2 id="focused">¿Qué tiene que tener una buena solicitud?</h2>
    <p id="moderation">La plantilla de pedidos te va a guiar en los datos que se deben ingresar, pero más allá de eso hay varios consejos que se pueden seguir para mejorar las chances de recibir la información deseada en el menor plazo posible.</p>
    <ul>
      <li>Ser lo más claro, conciso y explícito posible en qué se busca. Mientras que algo como "Gasto en tal o cual cosa" puede ser interpretado de diversas formas, "Presupuesto de obras de tal o cual cosa de 2010 a 2012" es mucho más claro. Identificación precisa, márgenes de tiempo, profundidad de la información deseada o granularidad de la misma son especificaciones que se recomiendan incluir.</li>
      <li>También se puede solicitar el formato en el que se desea la información, aunque quizás no siempre sea posible obtenerlo. Por ejemplo, solicitando “ubicaciones de las oficinas” puede que me envien un listado, mientras que “archivo digital con la ubicación de las oficinas con sus coordenadas en formato GeoJSON” es quizás mucho más útil si lo que pretendo es usar la información para la web o una aplicación.</li>
      <li>No incluyas argumentos basados en temas personales, declaraciones difamatorias u ofensivas. Podemos vernos obligados a rechazar tu pedido en esos casos.</li>
      <li>Recuerda que del otro lado del correo hay un ser humano que lo recibe y en general palabras tales como por favor y gracias pueden ser de muy poderosas.</li>
    </ul>

    <h2 id="8">¿Qué pasa si no sé a qué organismo dirigirme?</h2>
    <p>El primer paso es buscar solicitudes similares a la tuya y leer la descripción y/o página web de los organismos para informarte de lo que hacen. En el caso de que no hayas acudido al organismo correcto, podrías preguntarle dónde deberías enviar tu solicitud.</p>

    <h2 id="9">¿Puedo enviar la misma solicitud a distintos lugares?</h2>
    <p>Si, pero es recomendable empezar por la institución que tenga más posibilidades de tener la información que necesitas. Si esa institución no cuenta con todos los datos, podés preguntar a quién deberías enviar tu solicitud. Actualmente no existe un sistema automático para enviar peticiones al múltiples organismos, tenés que copiarlo y pegarlo a mano. En algunos casos los organismos transfieren los pedidos al organismo competente, aunque esto no es muy usual.</p>

    <h2 id="data_protection">¿Puedo pedir información sobre mí mismo?</h2>
    <p>No uses ¿Qué Sabés? para acceder a tu información personal porque todos los pedidos de la plataforma quedan públicos y ésto podría vulnerar tu privacidad. Si buscás información sobre tí mismo, recomendamos los mecanismos previstos por la Ley de de Protección de Datos Personales. <a href="http://www.datospersonales.gub.uy/">Hacé clic aquí para más información.</a></p>

    <h2 id="11">¿Tengo que pagar por solicitar información?</h2>
    <p>No, solicitar información en Uruguay es gratuito. El interesado puede llegar a tener que pagar el costo del soporte de la información (el medio que puede ser electrónico o papel, por ejemplo) Es recomendable indicar siempre en qué formato se prefiere recibir la información. En el caso en que se quiera recibir información impresa, la institución puede cobrar una tasa por realizar las copias, equivalente al precio real de la copia y sin suponer un lucro.</p>

    <h2 id="12">¿Puedo reutilizar la información recibida?</h2>
    <p>En general, la información en manos del estado es pública y libre en su utilización, aunque existen normas que regulan la reutilización de la información del sector público si pediste un gran volumen de información o una base de datos. En caso de duda, especialmente si tenés pensado utilizar el material para propósitos comerciales, preguntá al organismo al que has solicitado la información.</p>

    <h2 id="13">¿Quién puede ver mis datos personales?</h2>
    <p>Sólo tu nombre de usuario será público, a menos que proporciones otra información en la propia solicitud. En el caso de que un funcionario necesite hablar contigo por teléfono para aclarar la solicitud, te recomendamos que le mandes tu número directamente, no a través de esta página web.</p>
    <p>Tu dirección de correo electrónico no será publicada, ni tu dirección postal o tu nombre real, salvo que estemos obligados por ley o que nos lo pidas específicamente. Sí es visible para otros usuarios si les enviás un mensaje pero te lo recordaremos antes de que lo envíes.</p>

    <h2 id="14">¿Me van a mandar spam?</h2>
    <p>¡No! Ni vamos a compartir datos con nadie, salvo que estemos obligados por ley o que nos lo pidas. Te van a llegar exclusivamente correos relacionados con tu solicitud o asuntos por los que nos hayas contactado específicamente, como explicamos en nuestra <% link_to 'Política de Privacidad.', help_privacy_policy_path %></p>

    <h2 id="15">¿Puedo solicitar información usando un seudónimo?</h2>
    <p>No, es necesario tu verdadero nombre cuando solicites acceso a la información. Si detectamos nombres ridículos o seudónimos demasiado obvios, eliminaremos la solicitud y nos pondremos en contacto contigo para buscar una solución. Te pedimos por favor que no te hagas pasar por otra persona.</p>

    <h2 id="16">¿Pueden eliminar mi solicitud o modificar mi nombre?</h2>
    <p>En general, no. ¿Qué Sabés? es un archivo público de solicitudes de acceso. Aunque la respuesta a tu consulta ya no te parezca de utilidad, puede resultar de interés a otras personas. Por eso no eliminamos solicitudes, <% link_to 'excepto en circunstancias excepcionales', help_privacy_policy_path(:anchor => 'takedown') %> relacionadas con información confidencial.</p>

    <h2 id="17">¿Pueden eliminar información privada relativa a mi persona?</h2>
    <p>Si encontrás información confidencial relacionada contigo que te gustaría que eliminemos, <% link_to 'avisanos lo antes posible', help_contact_path %>. Especificá exactamente de qué información se trata y dónde aparece. Aunque la información personal o confidencial no sea tuya, si detectás que hay un error te rogamos que nos lo hagas saber para poder subsanarlo.</p>
    <p>Existe sin embargo interés público en retener los nombres de los funcionarios o trabajadores públicos. Solo los eliminaremos en circunstancias excepcionales, por ejemplo si revelar el nombre y el puesto desempeñado puede conllevar un riesgo para la seguridad de la persona. Si sos funcionario y querés que eliminemos tu nombre con urgencia por las razones mencionadas, <% link_to 'ponete en contacto con nosotros.', help_contact_path %></p>
    <p>Asumimos que toda la información liberada por el estado es pública. Naturalmente entendemos pueden cometerse errores de buena fe y consideraremos caso a caso las circunstancias conforme a la normativa vigente en Uruguay.</p>
</div>
