<% @title = "Guia per a sol·licitants" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
    <h1>Guia per a sol·licitants</h1>
    <p>En aquesta secció t'expliquem com sol·licitar informació a les institucions públiques espanyoles. Llegeix-la també per aprendre alguns consells sobre com realitzar peticions efectives.</p>

    <h3><a href="#making_requests">Sol·licitar informació a nivell estatal</a></h3>
    <h3><a href="#finding_bodies">Localitzar la institució pública adequada</a></h3>
    <h3><a href="#languages">Idiomes</a></h3>
    <h3><a href="#tips">Consells sobre les sol·licituds</a></h3>
    <h3><a href="#answers_appeals">Respostes i apel·lacions</a></h3>
    <h3><a href="#request_moderation">Moderació de les sol·licituds</a></h3>
    <h3><a href="#regional_laws">Sol·licitar informació en Comunitats Autònomes</a></h3>

    <h1 id="making_requests">Sol·licitar informació a nivell estatal</h1>

    <h2 id="1">1. Tinc dret a realitzar una sol·licitud?</h2>
    <p>Espanya no compta encara amb una llei de transparència i accés a la informació, per la qual cosa aconseguir respostes de les institucions públiques espanyoles no sempre és fàcil. De fet, pot resultar molt difícil, però no és impossible! Nosaltres t'animem a que facis una petició de totes maneres. Així acostumem a les nostres institucions al fet que existeix una demanda.</p>
    <p>Actualment l'única norma que reconeix parcialment l'accés a la informació a Espanya és l'article 37 de la <a href="http://noticias.juridicas.com/base_datos/Admin/l30-1992.t4.html#a37">Llei 30/1992 de Règim Jurídic de les Administracions Públiques i del Procediment Administratiu Comú</a>. Aquest reconeixement és molt feble i limita l'accés a gran part de la informació a aquells que tinguin un “interès legítim”, és a dir, que justifiquin que tenen una relació directa amb la informació que sol·liciten.</p>
    <p>Però no ens donem per vençuts! Existeixen altres normes que reconeixen l'accés a la informació en certes matèries. Per exemple, la <a href="http://www.boe.es/buscar/doc.php?id=BOE-A-2006-13010">Llei 27/2006, de 18 de juliol</a>, per la qual es regulen els drets d'accés a la informació, de participació pública i d'accés a la justícia en matèria de medi ambient o el <a href="http://www.boe.es/diario_boe/txt.php?id=BOE-A-2011-17887">Text Refós de la Llei de Contractes del Sector Públic</a>.</p>
    <p>A nivell estatal no existeix una llei de transparència però algunes Comunitats Autònomes com Navarra ja han aprovat les seves lleis. Consulta <a href="#making_requests_regional">els detalls d'aquestes legislacions</a>.</p>

    <h2 id="2">2. Quina informació puc sol·licitar?</h2>
    <p>A Espanya, l'article 37 de la llei 30/1992 limita la informació que pot ser sol·licitada a aquella que es trobi en Registres i documents d'expedients corresponents a procediments acabats i, dins d'aquesta informació, la llei indica que no serà possible sol·licitar informació a la qual solament puguin accedir els interessats, informació l'accés de la qual queda regulat en una altra llei i informació l'accés de la qual no està permès per una altra llei.</p>
    <p>Aquestes limitacions són molt nombroses, per això és necessari preparar bé la sol·licitud abans d'enviar-la i intentar avançar-nos a les possibles excuses que puguin interposar per denegar l'accés.</p>
    <p>Com ja hem vist, els assumptes ambientals suposen una excepció, ja que en aquest cas sí tenim un dret clar d'accés a qualsevol tipus de document i a la informació mediambiental per això recomanem que sempre que es pugui fer la connexió s'al·legui que la informació sol·licitada és informació mediambiental.</p>
    <p>Una altra opció si volem assegurar-nos un major èxit en la nostra sol·licitud és intentar sol·licitar la informació a la Unió Europea, ja sigui perquè està directament relacionada amb assumptes europeus o de nou intentant fer la connexió, per exemple, amb la informació sobre agricultura o pesca. El <a href="http://www.europarl.europa.eu/RegData/PDF/r1049_es.pdf">Reglament 1049/2001 d'accés a documents en mans de les institucions comunitàries</a> té un abast molt ampli i estableix l'obligació de les institucions a contestar-te en 15 dies. Si és així, fes la teva sol·licitud directament a Brussel·les: igual que tuderechoasaber.es existeix una altra web a aquest nivell, <a href="http://www.asktheeu.org">Ask The EU</a>.</p>
    <p>Finalment, tingues en compte que encara que no puguem sol·licitar molta informació, sí existeixen nombroses normes que obliguen a les administracions a publicar proactivament algunes qüestions com els contractes públics, les subvencions o els pressupostos. Així que si no trobes informació sobre aquestes matèries, tens dret a sol·licitar-la. Els organismes corresponents hauran d'indicar-te on està publicada i si no ho està, hauran de publicar-la.</p>

    <h2 id="missing_body">3. A qui puc dirigir-me?</h2>
    <p>A través d'aquesta pàgina pots enviar sol·licituds d'accés a la informació a qualsevol institució pública espanyola a nivell nacional, autonòmic i local. A més, podràs sol·licitar informació a empreses públiques com AENA o RTVE.</p> 
    <p>Seguim construint tuderechoasaber.es, per la qual cosa pot ocórrer que encara no tinguem alguns contactes o ens falti alguna institució. En aquest cas, per favor, avisa'ns i intentarem trobar-la al més aviat possible. D'altra banda, si pots donar-nos la informació seria genial. Així podríem incloure-la ràpidament en la web i altres persones es beneficiaran de la teva aportació.</p>
    <p><%= link_to "Punxa aquí per veure la llista completa d'institucions", list_public_bodies_default_path %>.</p>

    <h2 id="4">4. Per què hauria de sol·licitar informació a les institucions espanyoles?</h2>
    <p>En una democràcia sana, els ciutadans han de poder saber el que fan els seus governs.</p>
    <p><strong>Per poder participar en l'activitat pública:</strong> Per poder votar als nostres representants, necessitem poder tenir tota la informació sobre qui pren les decisions i en quins criteris es basen.</p>
    <p><strong>Per exigir major transparència:</strong> A Espanya no tenim una llei d'accés a la informació. Som, juntament amb Malta, Xipre i Luxemburg, els únics en no comptar amb aquest tipus de legislació a Europa. <a href="http://www.access-info.org/es/coalicion-pro-acceso/209-resultados-de-la-campana-de-las-100-preguntas">A més, en la pràctica, gairebé el 60% de la informació que se sol·licita a les institucions públiques espanyoles es queda sense resposta alguna.</a> Hem d'exigir que això canviï, hem de demandar més transparència. <strong>La millor manera d'exigir el nostre dret és exercir-lo.</strong></p>
    <p><strong>Per prevenir els casos de corrupció:</strong> El dret d'accés a la informació té un efecte dissuasori i preventiu. La possibilitat de poder sol·licitar qualsevol informació relacionada amb l'activitat pública fa que hi hagi menys temptació de cometre actes corruptes, i fins i tot millora i fa més eficient el treball de les institucions públiques.</p>

    <h1 id="finding_bodies">Localitzar la institució pública adequada</h1>

    <h2 id="5">5. Què passa si no sé a quin organisme he de dirigir-me?</h2>
    <p>Si tens una pregunta però no estàs segur de l'organisme públic al que has de dirigir-te per sol·licitar la informació que necessites, prova el següent:</p>
    <ul>
        <li>Consulta o cerca en tuderechoasaber.es sol·licituds similars a la teva.</li>
        <li>Llegeix la descripció de cada organisme públic per informar-te del que fan.</li>
        <li>Quan hagis trobat l'organisme que, en la teva opinió, posseeix la informació desitjada, usa l'enllaç de la “pàgina principal” per consultar el seu lloc web.</li>
        <li>En el cas que no hagis acudit a l'organisme correcte, pots preguntar-li on hauries d'enviar la teva sol·licitud. Si ho saben, haurien d'informar-te.</li>
        <li>Si encara tens dubtes, per favor <a href="<%= help_contact_url %>">posa’t en contacte amb nosaltres</a> perquè puguem ajudar-te.</li>
    </ul>

    <h1 id="languages">Idiomes</h1>

    <h2 id="6">6. Quins idiomes puc usar?</h2>
    <p>tuderechoasaber.es té com a ambició estar disponible en tots els idiomes oficials d'Espanya. De moment està en construcció, per la qual cosa pot ser que algunes parts de la web no estiguin traduïdes.</p>
    <p>Si desitges col·laborar com a traductor voluntari escriu-nos a <a href="mailto:contacto@tuderechoasaber.es">contacto@tuderechoasaber.es</a>.</p>
    <p>En qualsevol cas, en les comunitats on hi hagi un idioma cooficial, es podrà utilitzar aquest per a les sol·licituds que vagin dirigides a les mateixes. No podrà usar-se fora d'aquestes, ja que tuderechoasaber.es no tradueix les sol·licituds.</p>

    <h1 id="tips">Consells sobre les sol·licituds</h1>
    
    <h2 id="focused">7. Què constitueix una bona sol·licitud?</h2>
    <p>Per favor, inclou en la teva sol·licitud la informació necessària per identificar fàcilment la informació que estàs demanant.</p>
    <p>Els missatges curts i concisos fan que sigui més fàcil per als funcionaris identificar la informació que demanes, la qual cosa significa que rebràs una resposta més ràpidament.</p>
    <p>A més, una petició ben formulada dóna menys raons als funcionaris per rebutjar-la per considerar-la vaga o poc precisa. No obstant això, no et preocupis per fer-la perfecta: en principi, en cas que la teva sol·licitud no sigui clara, la institució a la qual l'enviïs hauria de posar-se en contacte amb tu per aclarir-la.</p> 
    <p>Per favor, no incloguis:</p>
    <ul>
        <li>Arguments basats en un tema o causa de tipus personal;</li>
        <li>Declaracions que puguin difamar o insultar a terceres persones;</li>
        <li>Llenguatge ofensiu.</li>
    </ul>
    <p>En cas contrari, ens veurem obligats a rebutjar la teva petició. Si fos així, t'ho faríem saber i estaríem sempre disposats a discutir cas per cas.</p>
    
    <h2 id="data_protection">8. Puc demanar informació sobre mi mateix?</h2>
    <p>No utilitzis tuderechoasaber.es per accedir a la teva pròpia informació personal. Si vols informació sobre tu mateix, utilitza preferiblement les normes de Protecció de Dades. <a href="https://www.agpd.es/portalwebAGPD/canalciudadano/derechosciudadano/contenido_del_derecho/index-ides-idphp.php">Fes clic aquí per a més informació.</a></p>

    <h2>9. Puc enviar la mateixa sol·licitud a diferents òrgans?</h2>
    <p>Pots demanar la mateixa informació a més d'una institució, si bé és millor començar per la institució que tingui més possibilitats de tenir la informació que necessites.</p>
    <p>Si aquesta institució no compta amb tots els documents rellevants, pots preguntar a qui hauries d'enviar la teva sol·licitud.</p>
    <p>Actualment no existeix un sistema automàtic per enviar les peticions a la resta d'autoritats, hauràs de copiar-ho i pegar-ho a mà.</p>

    <h1 id="answers_appeals">Respostes i apel·lacions</h1>

    <h2>10. Hauré de pagar per sol·licitar informació?</h2>
    <p>Sol·licitar informació a Espanya és gratuït.</p> 
    <p>Rebre informació en format electrònic és gratuït. És recomanable indicar en quin format es prefereix rebre la informació.</p>
    <p>En el cas en què es vulgui rebre informació impresa, la institució pot cobrar una taxa per realitzar aquestes còpies, aquestes taxes no haurien d'equivaler únicament al preu real de la còpia i no hauria de suposar un lucre per a la institució.</p>

    <h2 id="quickly_response">11. Quan obtindré una resposta?</h2>
    <p>Segons la legislació vigent, en general, les institucions espanyoles tenen 3 mesos per contestar a les sol·licituds d'informació.</p>
    <p>Aquest temps és excessiu, la mitjana a Europa és de 15 dies hàbils. Per això en tuderechoasaber.es t'avisarem quan hagi passat un mes, perquè si vols reclamis la teva informació. Pots cridar a la institució a la qual vas realitzar la sol·licitud per preguntar en quin estat es troba la teva petició.</p> 
    <p>Les institucions també tindran <strong>30 dies</strong> per contestar a sol·licituds sobre informació mediambiental. En realitzar la teva sol·licitud veuràs una casella que hauràs de marcar si estàs sol·licitant informació mediambiental.</p>
    <p>No et preocupis per tenir tot això en el cap. El sistema també t'avisarà si passa el termini i no reps resposta.</p>
    <p>Normalment, en enviar la teva sol·licitud, les institucions han de donar-te algun tipus de rebut o e-mail de confirmació. És recomanable exigir aquest tipus de documents per si haguessis de recórrer en un futur.</p>
  
    <h2>12. Puc reutilitzar la informació rebuda?</h2>
    <p>En general, la informació en mans de les institucions públiques espanyoles és “pública” en el sentit que han estat creades amb els diners dels contribuents. Per tant hauries de ser lliure d'utilitzar els documents que reps i la informació que contenen.</p>
    <p>No obstant això, existeixen normes que regulen la reutilització de la informació del sector públic, però això solament et concerneix si has sol·licitat un gran volum d'informació o una base de dades.</p>
    <p>En cas de dubte, especialment si tens pensat utilitzar el material per a propòsits comercials, pregunta a l'organisme al que has sol·licitat la informació o posa't en contacte amb nosaltres.</p>
    
    <h2>13. Què passa si no rebo una resposta?</h2>
    <p>Si no reps una resposta a temps, tuderechoasaber.es t'enviarà un correu. Pots rebre dos tipus d'avís per part de tuderechoasaber.es:
      <ol>
        <li>El primer, transcorregut un mes des que vas enviar la teva sol·licitud perquè, si ho desitges, contactis amb la institució a la qual vas enviar la teva sol·licitud i puguis preguntar per aquesta. Si es tracta d'informació mediambiental, aquest avís indicarà que ha transcorregut el termini perquè et contestin.</li>
        <li>El segon, transcorreguts tres mesos des que vas enviar la teva sol·licitud perquè, si ho desitges, puguis reclamar el teu dret a la informació.</li>
      </ol>
    </p>

    <h2>14. Què passa si rebo una resposta que no em satisfà?</h2>
    <p>Hi ha cert nombre de casos en els quals pots estar insatisfet amb la resposta a la teva sol·licitud:</p>
    <ol>
        <li>Només has rebut part de la informació que vas sol·licitar (però no un rebuig formal), o la informació que t'ha estat facilitada és irrellevant o no respon completament a la teva pregunta – pots qualificar la teva resposta com a “resposta incompleta”;</li>
        <li>T'han dit que la informació “no està en poder” de l'organisme al que vas enviar la teva sol·licitud;</li>
        <li>T'han denegat l'accés a la informació o als documents que has sol·licitat (mira també el punt 16 sobre denegacions);</li>
        <li>No has rebut cap resposta (“silenci administratiu”).</li>
    </ol>
    <p>Tindràs la possibilitat de “classificar” la teva resposta segons una llista de categories (veure punt 15). Si no saps com fer-ho t'ajudarem.</p>
    <p>Si penses que la resposta és incorrecta, pots contactar amb la institució o interposar un recurs administratiu. Per a més informació sobre això, <a href="#17">fes clic aquí</a>.</p>

    <h2>15. Classificació de les respostes</h2>
    <p>Les respostes de les administracions poden ser molt diverses i segons el que ens contestin haurem de reaccionar d'una o una altra manera:</p>
    <p>
      <ul>
        <li>Informació rebuda: La institució ha contestat a temps i amb la informació sol·licitada.</li>
        <li>Informació rebuda parcialment: La institució ha contestat a temps però no amb tota la informació sol·licitada perquè considera que una part d'aquesta informació no ha de ser pública.</li>
        <li>No té la informació: La institució contesta al·legant que no tenen la informació.</li>
        <li>Informació incompleta: La institució ha contestat a temps però no inclou tota la informació sol·licitada.</li>
        <li>Informació inadequada: La resposta de la institució no correspon a la informació sol·licitada.</li>
        <li>Silenci: Transcorregut el temps que té per contestar, la institució no ha contestat.</li>
        <li>Esperant resposta</li>
        <li>Esperant un aclariment</li>
        <li>Informació denegada: la institució ha contestat denegant la informació.</li>
        <li>Requereix revisió de l'administrador: Marca aquesta casella si vols que l’administrador revisi la pregunta o la resposta d'aquesta sol·licitud.</li>
      </ul>
    </p>
    <p>En els casos en els quals no quedem satisfets amb la resposta per falta de resposta, per ser incompleta o inadequada, recomanem abans de plantejar un recurs, dirigir-nos de nou a la institució que ens contesta per intentar rebre la informació sol·licitada.</p>

    <h2 id="16">16. Quines són les causes per les quals poden denegar-me la informació que he sol·licitat?</h2>
    <p>La Llei 30/1992 de Règim Jurídic de les Administracions Públiques i del Procediment Administratiu Comú estableix que no es podrà exercir el dret d'accés a la següent informació:
        <ol>
            <li>Els documents que continguin informació sobre les actuacions del Govern de l'Estat o de les Comunitats Autònomes, en l'exercici de les seves competències constitucionals no subjectes a Dret Administratiu.</li>
            <li>Els que continguin informació sobre la Defensa Nacional o la Seguretat de l'Estat.</li>
            <li>Els tramitats per a la recerca dels delictes quan es pogués posar en perill la protecció dels drets i llibertats de tercers o les necessitats de les recerques que s'estiguin realitzant.</li>
            <li>Els relatius a les matèries protegides pel secret comercial o industrial.</li>
            <li>Els relatius a actuacions administratives derivades de la política monetària.</li>
        </ol>
    </p>
    <p>Però això no ha de desmotivar-te. Si tens una pregunta, fes-la, encara que pensis que pugui ser informació no accessible a Espanya. Si et deneguen la informació, l'equip de tuderechoasaber.es està disposat a aconsellar-te sobre la possibilitat de presentar un recurs.</p>
    
    <h2>17. Els recursos a Espanya</h2>
    <p>Recurs d'alçada: Si no estàs satisfet amb la resposta rebuda, pots recórrer en primer lloc a la mateixa institució; és un recurs administratiu que no costa diners.</p>
    <p>Si el recurs administratiu no canvia gens, pots recórrer davant els tribunals. Aquesta opció és sempre complicada perquè implica despeses i molt de temps d'espera. Si estàs interessat, posa't en contacte amb <a href="mailto:info@access-info.org">Access Info Europe</a> i podem estudiar el cas amb tu i veure quina és la millor opció.</p>

    <h1 id="request_moderation">Moderació de les sol·licituds</h1>

    <h2>18. Com es moderen les sol·licituds i els comentaris?</h2>
    <p>Animem a tothom a realitzar sol·licituds i oferim la possibilitat que qualsevol persona que estigui registrada insereixi comentaris en les teves consultes.</p> 
    <p>El nostre equip consulta els continguts amb regularitat i ens reservem el dret d'eliminar declaracions poc apropiades, com les de naturalesa ofensiva o potencialment difamatòria. Si eliminéssim algun dels teus comentaris, t'ho faríem saber perquè puguem aclarir-ho i buscar una solució.</p> 
    <p>De la mateixa manera, tu pots denunciar continguts inadequats si els trobes. Solament ha de categoritzar la sol·licitud com “Requereix revisió de l'administrador” i de seguida mirarem la sol·licitud, també pots posar-te en contacte amb nosaltres i ens ho expliques.</p>

    <h2>19. Sóc periodista o investigador, és possible mantenir la confidencialitat de la meva sol·licitud fins a la publicació del meu article?</h2>
    <p>Tuderechoasaber.es està dissenyat per realitzar sol·licituds públiques. Totes les respostes que rebem es publiquen automàticament en la web, perquè tothom les pugui consultar.</p> 
    <p>Si ets un periodista, una ONG, investigador o simplement desitges mantenir el caràcter confidencial de la teva consulta fins que hagis escrit el teu article o per altres raons, has d'enviar la sol·licitud d'accés directament a la institució que creguis convenient, però no a través d'aquesta web.</p>

    <h2>20. He realitzat sol·licituds de les quals he aconseguit resposta, puc compartir-la en aquest lloc?</h2>
    <p>Lamentem dir-te que no és possible. Tuderechoasaber.es arxiva les sol·licituds realitzades a través del lloc web però no pretén ser un arxiu de totes les sol·licituds d'informació. No es permet carregar altres sol·licituds en aquesta pàgina posat que no podem verificar si les respostes procedeixen efectivament d'una institució pública.</p> 
    <p>Si desitges fer pública una resposta, has de tornar a realitzar la sol·licitud a través de tuderechoasaber.es.</p>

    <h1 id="regional_laws">Sol·licitar informació en Comunitats Autònomes</h1>
    <p>Encara que no existeixi una llei a nivell estatal, algunes Comunitats autònomes ja han aprovat les seves lleis d'Accés a la Informació. A més de la informació que s'indica en el títol previ, és bo conèixer aquestes legislacions, sobretot per saber quin és el procediment d'accés a la informació que pot variar segons el lloc on se sol·liciti la informació.</p>

    <h2>Navarra</h2>

    <h3>Quina informació es pot sol·licitar?</h3>
    <p>Segons el text de la <a href="http://www.parlamentodenavarra.es/UserFiles/File/BOP/B2012054.pdf">Llei Foral de la Transparència i del Govern Obert</a>, tota la informació, qualsevol que sigui el seu suport i forma d'expressió, elaborada o en possessió de l'Administració Pública. També aquella informació sota l'autoria o propietat d'altres entitats o subjectes que prestin serveis públics o exerceixin potestats administratives o funcions públiques, sempre que hagi estat generada o obtinguda en l'exercici de la seva activitat pública o per a l'exercici d'una activitat pública.</p>
    <p>La llei estableix unes excepcions que estan en línia amb el que estableixen els estàndards internacionals, com són la seguretat pública o privadesa, i unes altres que pots consultar en l'article 23 de la llei.</p>
    <p>Si tens algun dubte sobre aquestes excepcions no dubtis a contactar amb nosaltres en <a href="mailto:contacto@tuderechoasaber.es">contacto@tuderechoasaber.es</a>.</p>

    <h3>A quines institucions puc sol·licitar la informació?</h3>
    <p>Aquesta llei solament s'aplica a l'Administració Pública de Navarra o entitats o subjectes que prestin serveis públics o exerceixin potestats administratives o funcions públiques a Navarra, per a l'exercici d'una activitat pública.</p>

    <h3>Quant temps tenen per contestar-me?</h3>
    <p>Les institucions públiques tenen 15 dies per contestar. Tindran 30 dies si es tracta de molta informació, en aquest cas ha d'informar al sol·licitant.</p>

    <h3>Comentaris</h3>
    <p>Amb la implementació de la seva llei de transparència, la Comunitat de Navarra ha introduït un sistema de sol·licitud d'informació a través de la seva administració electrònica, això implica l'ús d'un certificat digital. Aquest canvi fa que de moment no estan contestant a les sol·licituds que es realitzen des de tuderechoasaber.es.</p> 
    <p>Aquesta pràctica és un obstacle per al dret d'accés a la informació, pots llegir sobre això en <a href="http://blog.tuderechoasaber.es/2013/01/los-ciudadanos-sin-firma-digital-no-pueden-solicitar-informacion-al-gobierno-de-navarra/">en el post publicat en el bloc de tuderechoasaber.es</a>.</p>

</div>
